.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}
form {
  padding: 20px;
}
input {
  margin-top: 10px;
}
#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: grey;
  user-select: none;
  cursor: pointer;
}
